main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.todo {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  border-left: 2px solid #1d62a7;
}

.todo-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  overflow-y: auto;
}

.form-todo {
  flex: 1;
}
